.invoiceItem {
  display: flex;
  gap: 1rem;
  .description {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border: 1px solid rgb(239, 239, 239);
    border-radius: var(--border-radius);
    width: 600px;
  }
  .amount {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0.5rem;
    border: 1px solid rgb(239, 239, 239);
    border-radius: var(--border-radius);
    width: 220px;
  }
  .actions {
    padding: 0 0.5rem;
    border-radius: var(--border-radius);
    width: 90px;
  }
}
