.select {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  // align-self: flex-end;
  // margin-left: auto;
  label {
    padding: 8px 0;
    font-size: 16px;
  }
  select {
    padding: 8px;
    font-size: 16px;
  }
}
