@import '@/styles/media-queries.module.scss';

.invoiceRow {
  cursor: pointer;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  gap: 10px;
  .invoiceNo {
    display: flex;
    align-items: center;
    width: 125px;
    padding: 0 10px;
    text-align: center;
    justify-content: center;
  }
  .invoiceDueDate {
    display: flex;
    align-items: center;
    width: 145px;
    padding: 0 10px;
    text-align: center;
    justify-content: center;
  }
  .invoiceClient {
    display: flex;
    align-items: center;
    width: 345px;
    padding: 0 10px;
  }
  .invoiceAmount {
    display: flex;
    align-items: center;
    width: 250px;
    padding: 0 10px;
    justify-content: flex-end;
  }
  .invoiceStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    padding: 0 10px;
    text-align: center;
    .statusText {
      text-transform: uppercase;
      border: 2px solid;
      border-radius: var(--border-radius);
      font-weight: bold;
      padding: 4px;
      &.paid {
        border-color: var(--color-paid);
      }
      &.unpaid {
        border-color: var(--color-unpaid);
      }
      &.overdue {
        border-color: var(--color-overdue);
      }
    }
  }
  .invoiceActions {
    display: flex;
    align-items: center;
    width: 130px;
    padding: 0 10px;
    text-align: center;
  }
  &.paid {
    border-left: 6px solid var(--color-paid);
    border-right: 6px solid var(--color-paid);
  }
  &.unpaid {
    border-left: 6px solid var(--color-unpaid);
    border-right: 6px solid var(--color-unpaid);
  }
  &.overdue {
    border-left: 6px solid var(--color-overdue);
    border-right: 6px solid var(--color-overdue);
  }
  .label {
    display: none;
  }

  @include respond-below(md) {
    flex-direction: column;
    .label {
      font-weight: bold;
      display: flex;
      justify-content: flex-end;
      width: 100px;
      padding-right: 10px;
    }
    .invoiceNo,
    .invoiceDueDate,
    .invoiceClient,
    .invoiceAmount,
    .invoiceStatus {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    .invoiceActions {
      align-self: flex-end;
    }
  }
}
