@import '@/styles/media-queries.module.scss';

.invoiceForm {
  border: 1px solid lightgray;
  border-radius: var(--border-radius);
  padding: 20px;
  form {
    .topContainer {
      // border: 1px solid green;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .control {
        display: flex;
        align-items: center;
        label {
          width: 100px;
          // border: 2px solid red;
        }
      }

      // align-items: flex-end;
      // .spacer {
      //   flex: 1;
      // }
      .rightBlock {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
    .buttonsContainer {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      button {
        flex: 1;
      }
      @include respond-above(md) {
        max-width: 500px;
        margin-left: auto;
      }
    }
  }
}
