.clients {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  .clientsListContainer {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 0;
    overflow-y: auto;
  }

  .addButton {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
  }
  .noClient {
    text-align: center;
    font-size: 22px;
  }
}
