.invoiceItems {
  padding: 20px 0;

  .itemsTitleContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    .itemsTitle {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .listContainer {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .header {
    display: flex;
    flex-direction: row;
    margin: 0.6rem 0;
    gap: 1rem;
    .headerDescription {
      border: 1px solid lightgray;
      padding: 0.5rem;
      border-radius: var(--border-radius);
      width: 600px;
      background-color: rgb(248, 248, 248);
    }
    .headerAmount {
      border: 1px solid lightgray;
      padding: 0.5rem;
      border-radius: var(--border-radius);
      width: 220px;
      background-color: rgb(248, 248, 248);
      text-align: right;
    }
  }
  .headerActions {
    border: 1px solid lightgray;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    width: 90px;
    background-color: rgb(248, 248, 248);
    text-align: center;
  }
  .note {
    padding: 40px 0;
    text-align: center;
  }
}
