/** @type {import('next').NextConfig} */
const nextConfig = {
  reactStrictMode: true,
  env: {
    // Please fill this variables with your Moingodb account
    dbUsername: '',
    dbPassword: '',
    dbCluster: '',
    dbDatabase: '',
    dbServer: '',
    nextAuthSecret: '',
  },
}

module.exports = nextConfig
