@import '@/styles/media-queries.module.scss';

.invoiceRow {
  cursor: pointer;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  .invoiceNo {
    display: flex;
    align-items: center;
    width: 125px;
    padding: 0 10px;
    // border: 1px solid gray;
    text-align: center;
    justify-content: center;
  }
  .invoiceDueDate {
    display: flex;
    align-items: center;
    width: 145px;
    padding: 0 10px;
    text-align: center;
    // border: 1px solid gray;
    justify-content: center;
  }
  .invoiceClient {
    display: flex;
    align-items: center;
    width: 345px;
    padding: 0 10px;
    // border: 1px solid gray;
  }
  .invoiceAmount {
    display: flex;
    align-items: center;
    width: 250px;
    padding: 0 10px;
    justify-content: flex-end;
    // border: 1px solid gray;
  }
  .invoiceStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    padding: 0 10px;
    text-align: center;
    // border: 1px solid gray;
    .statusText {
      text-transform: uppercase;
      font-weight: bold;
      &.paid {
        color: rgb(0, 182, 0);
      }
      &.unpaid {
        color: rgb(255, 170, 0);
      }
      &.overdue {
        color: orangered;
      }
    }
  }
  .invoiceActions {
    display: flex;
    align-items: center;
    width: 130px;
    padding: 0 10px;
    text-align: center;
    // border: 1px solid gray;
  }
  &.paid {
    border-left: 6px solid rgb(0, 182, 0);
    border-right: 6px solid rgb(0, 182, 0);
  }
  &.unpaid {
    border-left: 6px solid rgb(255, 170, 0);
    border-right: 6px solid rgb(255, 170, 0);
  }
  &.overdue {
    border-left: 6px solid orangered;
    border-right: 6px solid orangered;
  }
  .label {
    display: none;
  }

  @include respond-below(md) {
    flex-direction: column;
    .label {
      font-weight: bold;
      display: flex;
      justify-content: flex-end;
      width: 100px;
      padding-right: 10px;
    }
    .invoiceNo,
    .invoiceDueDate,
    .invoiceClient,
    .invoiceAmount,
    .invoiceStatus {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    .invoiceActions {
      align-self: flex-end;
    }
  }
}
