.invoices {
  position: relative;
  margin: auto;
  max-width: 1200px;
  // border: 6px solid magenta;
  height: 100%;
  display: flex;
  flex-direction: column;

  .addButton {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}
