@import '@/styles/media-queries.module.scss';

.menuButton {
  z-index: 100;
  @include respond-above(md) {
    display: none;
  }
  margin-left: auto;
  font-size: 30px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  line-height: 0;
}
