@import '@/styles/media-queries.module.scss';

.invoicesList {
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 5px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  // border: 6px solid blue;
  flex: 1;
  height: 0;
  .header {
    display: flex;
    gap: 10px;
    // padding-left: 10px;
    .headerInvoiceNo {
      border: 1px solid lightgray;
      width: 138px;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    .headerDueDate {
      border: 1px solid lightgray;
      width: 140px;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
    }
    .headerClient {
      border: 1px solid lightgray;
      width: 350px;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
    }
    .headerAmount {
      border: 1px solid lightgray;
      width: 250px;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
    }
    .headerStatus {
      border: 1px solid lightgray;
      width: 180px;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
    }
    .headerActions {
      border: 1px solid lightgray;
      width: 160px;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
    }
  }
  .listContainer {
    // border: 6px solid rgb(3, 233, 11);
    overflow-y: auto;
    flex: 1;
    height: 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  @include respond-below(md) {
    padding-left: 2px;
    padding-right: 2px;
    .header {
      display: none;
    }
  }
}
