.addInvoiceItemModal {
  width: 600px;
  .title {
    text-transform: uppercase;
    margin: 10px 0;
  }
  // .body {
  //   padding: 40px 0;
  // }
  .topRule {
    margin-bottom: 30px;
  }
  .bottomRule {
    margin-top: 30px;
  }
  .buttonsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    button {
      flex: 1;
    }
  }
  hr {
    border: 1px solid rgb(240, 240, 240);
  }
}
