@import '@/styles/media-queries.module.scss';

.invoicesFilter {
  display: flex;
  padding: 0 10px;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;

  .selectContainer {
    display: flex;
    gap: 20px;
  }
  @include respond-below(md) {
    margin-left: 0;
    margin-right: 0;
  }
}
