@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

:root {
  --primary: #1e90ff;
  --border-radius: 5px;
  --foreground-color: #444;
  --white: #ffffff;
  --ctrl-border-color: #ededed;
  --ctrl-font-size: 20px;
  --ctrl-font-weigth: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat';
  color: var(--foreground-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
