.react-responsive-modal-root {
  .react-responsive-modal-modal {
    border-radius: var(--border-radius);
  }
  .react-responsive-modal-closeButton {
    font-size: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    border: 1px solid transparent;
    &:hover {
      border-color: var(--border-color);
      background-color: rgb(250, 250, 250);
    }
  }
}
